/* div.global { */
/* 	display: table; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	width: 500px; */
/* } */

/* div.head { */
/* 	height: 45px; */
/* 	width: 500px; */
/* } */

/* div.menu { */
/* 	float: left; */
/* 	height: 75px; */
/* 	width: 150px; */
/* } */

/* div.contenedor { */
/* 	float: right; */
/* 	height: 75px; */
/* 	width: 350px; */
/* } */

/* div.footer { */
/* 	clear: both; */
/* 	height: 35px; */
/* 	width: 500px; */
/* } */

#top{
	position: relative;
	background-color: pink;
	color: white;
	padding: 3px;
	margin: 0px 0px 10px 0px;

}

#booton{
	position: relative;
	background-color: pink;
	padding: 5px;
	margin: 10px 0px 0px 0px;	
}
#left{
	float: left;
	background-color: pink;
	padding: 5px;
	width: 150px;

}
#right{
	float: left;
	background-color: pink;
	padding: 5px;
	width: 150px;
}
.center_content{
	position: relative;
	background-color: pink;
	padding: 5px:
	
}
.left_content{
	background-color: pink;
	padding: 5px;
	margin-left: 170px;
}
.right_content{
	background-color: pink;
	padding: 5px;
	margin: 0px 170px 0px 170px;
}